<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Master Sword RTA Generator">
    <meta name="author" content="rekyuu">

    <title>Master Sword RTA Generator</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <div id="main" class="ui container">
      <h1 class="ui dividing header">Master Sword RTA Run Generator</h1>

      <%= render @view_module, @view_template, assigns %>

      <footer>Created by <a href="https://rekyuu.co">rekyuu</a></footer>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
