@font-face {
  font-family: "Calamity";
  src: url("/fonts/Calamity-Regular.woff");
}

@font-face {
  font-family: "Calamity";
  src: url("/fonts/Calamity-Bold.woff");
  font-weight: bold;
}

@font-face {
  font-family: "Hylia Serif";
  src: url("/fonts/HyliaSerifBeta-Regular.otf");
}

html {
  background: url("/images/background.jpg") top right;
  color: white;
  font-family: "Calamity";
  line-height: 1.5em;
  padding: 0 .5em .5em .5em;
  text-shadow: 0 0 10px black;
}

#main {
  max-width: 960px;
  margin-left: auto ;
  margin-right: auto ;
}

h1, h2, h3, h4, h5, h6 {
  width: 100%;
  padding-bottom: 0.5em;
  border-bottom: 1px solid rgba(255,255,255,0.33);
}

a, a:hover {
  color: white;
  font-weight: bold;
}

a { text-decoration: none; }
a:hover { text-decoration: underline; }

.quest .goal:hover {
  background: rgba(0,0,0,0.66);
  border: 1px solid rgba(255,255,255,0.33);
  cursor: pointer;
}

.quest .goal { display: none; }

.goal p {
  text-align: center;
  width: 100%;
}

p.name {
  font-size: 3.5em;
  font-family: "Hylia Serif";
  margin: 0;
  line-height: 1em;
}

p.trial, p.quest, p.region {
  font-size: 1.25em;
  line-height: 1em;
  margin: .75em 0 0 0;
}

p.quest { font-weight: bold; }

p.trial {
  padding-bottom: 1em;
  border-bottom: 1px solid rgba(255,255,255,0.33);
}

fieldset, .goal {
  background: rgba(0,0,0,0.66);
  border: 1px solid rgba(0,0,0,0.66);
  border-radius: 5px;
  padding: 1em;
  margin-bottom: 1em;
}

fieldset.error {
  background: rgba(63,0,0,0.66);
}

fieldset table td:first-child {
  text-align: right;
  vertical-align: top;
  width: 25%;
}

fieldset table td {
  padding: 0 .5em;
}

legend {
  background: rgba(0,0,0,0);
  text-shadow: 0 0 10px black;
  font-weight: bold;
}

button {
  border: none;
  background: rgba(0,0,0,0.66);
  border-radius: 5px;
  color: white;
  font-family: "Calamity";
  font-size: 2em;
  font-weight: bold;
  line-height: 1.5em;
  width: 100%;
}

button:hover {
  background: rgba(255,255,255,0.33);
  cursor: pointer;
}

input[type=text] {
  border: none;
  border-bottom: 1px solid rgba(255,255,255,0.33);
  background: rgba(0,0,0,0);
  color: white;
  font-family: "Calamity";
  font-size: 2em;
  font-weight: bold;
  line-height: 1.5em;
  width: 100%;
  margin-top: -0.5em;
}
